@media (min-width: 1441px) {
    .header {
        max-width: 100%;
        .container {
            max-width: 1580px;
        }
    }
    .page {
        max-width: 100%;
        .wrap {
            max-width: 1580px;
            margin: 0 auto;
            padding: 0 120px;
        }
    }
    .page-hero .block-hero .logo-main-wrapper {
        width: 582px;
    }
    .page-hero .block-hero__offer h1 {
        font-size: 160px;
    }
    .page-hero .block-hero__offer .offer-solutions {
        font-size: 99px;
    }
    .page-hero .block-hero .logo-main-wrapper {
        align-items: flex-start;
    }
    .page-services .block-services__list ul li h3 {
        font-size: 46px;
    }
    .footer .footer-container {
        max-width: 1560px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .absolute {
        width: 100%;
    }
    .page-technologies .block-slider__center-mode .slick-arrow.slick-prev {
        right: 195px;
    }
    .page-technologies .block-slider__center-mode .slick-dots {
        right: 127px;
    }
    .page-technologies .block-slider__center-mode .slick-arrow.slick-next {
        right: 2px;
    }
}
@media (min-width: 1500px) {
    .page-hero .block-hero__offer h1 {
        font-size: 170px;
    }
}
@media (min-width: 1550px) {
    .page-hero .block-hero__offer h1 {
        font-size: 180px;
    }
}
@media (min-width: 1600px) {
    .page-hero .block-hero__offer h1 {
        font-size: 185px;
    }
}
@media (min-width: 1700px) {
    .page-hero .block-hero__offer h1 {
        font-size: 200px;
    }
}
@media (min-width: 1800px) {
    .page-hero .block-hero__offer h1 {
        font-size: 215px;
    }
}
