$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels / $context}rem;
}

$gradient-main: -webkit-linear-gradient(
    45deg,
    rgba(247, 47, 22, 1),
    rgba(148, 34, 209, 1)
);
$burger-color: #1c1b1f;
$text-color: #fff;
$black: #0d0d0d;
$ph: rgba(13, 13, 13, 0.4);
@mixin block-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 139px;
    h2 {
        font-size: 60px;
        line-height: 110%;
        text-transform: uppercase;
        color: $black;
        font-weight: 900;
        @include gradient;
        flex-basis: 45%;
    }
    p {
        flex-basis: 40%;
        font-size: 18px;
        line-height: 140%;
        opacity: 0.8;
        margin-top: 80px;
    }
}
@mixin button-gradient-hover {
    @media (min-width: 601px) {
        &:hover {
            background: linear-gradient(90deg, #f72f16 0%, #9422d1 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
@mixin white-button {
    button {
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 13px;
        border-radius: 4px;
        border: solid 4px $text-color;
        color: $text-color;
        background-color: transparent;
    }
}
@mixin gradient {
    span {
        background: linear-gradient(90deg, #f72f16 0%, #9422d1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@mixin outlined-button {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 13px;
    border-radius: 4px;
    border: solid 4px transparent;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        $gradient-main;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 4px 4px #fff inset;
    @include gradient;
    &:hover {
        box-shadow: 2px 1000px 1px #f8f2fc inset;
    }
}
@mixin filled-button {
    text-decoration: none;
    background: $gradient-main;
    font-size: 18px;
    color: $text-color;
    text-transform: uppercase;
    padding: 14px 16px;
    border-radius: 4px;
    position: relative;
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.18),
                rgba(255, 255, 255, 0.18)
            ),
            linear-gradient(90deg, #f72f16 0%, #9022cb 100%);
    }
    // &:active:before {
    //     content: "";
    //     position: absolute;
    //     width: 80px;
    //     height: 80px;
    //     left: calc(50% - 80px / 2);
    //     top: calc(50% - 80px / 2 + 0.5px);
    //     // background: rgba(255, 255, 255, 0.32);
    //     border-radius: 50%;
    //     background: linear-gradient(180deg, transparent 15px, transparent 0) top,
    //         linear-gradient(0deg, transparent 15px, rgba(255, 255, 255, 0.32) 0)
    //             bottom;
    //     background-size: 1% 81%;
    // }
}
@mixin slider {
    .block-slider {
        position: relative;
        padding-top: 106px;
        h3 {
            font-size: 40px;
            line-height: 120%;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 26px;
        }
        span {
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            color: $black;
        }
        p {
            font-size: 18px;
            line-height: 140%;
            color: $black;
        }
        .slick-track {
            display: flex;
        }
        .slick-list {
            overflow: hidden;
        }
        .slick-arrow {
            position: absolute;
            top: 22px;
            z-index: 10;
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            color: $black;
            border: none;
            background-color: transparent;
            @include button-gradient-hover;
        }
        .slick-arrow.slick-prev {
            right: 195px;
            &::before {
                content: url("/img/keyboard_arrow_left.svg");
                margin-right: 16px;
            }
            &:hover::before {
                content: url("/img/keyboard_arrow_left_hover.svg");
            }
        }

        .slick-arrow.slick-next {
            right: 2px;
            &::after {
                content: url("/img/keyboard_arrow_right.svg");
                margin-left: 16px;
            }
            &:hover::after {
                content: url("/img/keyboard_arrow_right_hover.svg");
            }
        }
        .slick-dots {
            position: absolute;
            top: 22px;
            right: 127px;
            display: flex;

            li {
                button {
                    z-index: 10;
                    font-size: 18px;
                    line-height: 140%;
                    text-transform: uppercase;
                    color: rgba(13, 13, 13, 0.4);
                    border: none;
                    background-color: transparent;
                    padding: 0;
                }
                @media (min-width: 601px) {
                    &:first-child {
                        &::after {
                            content: "/";
                            font-size: 18px;
                            line-height: 140%;
                            color: rgba(13, 13, 13, 0.4);
                        }
                    }
                }
                &.slick-active {
                    button {
                        color: $black;
                    }
                }
            }
        }
    }
}
@mixin slider__center-mode {
    .block-slider__center-mode {
        position: relative;
        padding-top: 106px;
        h3 {
            font-size: 40px;
            line-height: 120%;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 26px;
        }
        span {
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            color: $black;
        }
        p {
            font-size: 18px;
            line-height: 140%;
            color: $black;
        }
        .slick-track {
            display: flex;
        }
        .slick-arrow {
            position: absolute;
            top: 22px;
            z-index: 10;
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            color: $black;
            border: none;
            background-color: transparent;
            @include button-gradient-hover;
        }
        .slick-arrow.slick-prev {
            right: 195px;
            &::before {
                content: url("/img/keyboard_arrow_left.svg");
                margin-right: 16px;
            }
            &:hover::before {
                content: url("/img/keyboard_arrow_left_hover.svg");
            }
        }
        .slick-list {
            overflow: hidden;
        }
        .slick-arrow.slick-next {
            right: 2px;
            &::after {
                content: url("/img/keyboard_arrow_right.svg");
                margin-left: 16px;
            }
            &:hover::after {
                content: url("/img/keyboard_arrow_right_hover.svg");
            }
        }
        .slick-dots {
            position: absolute;
            top: 22px;
            right: 127px;
            display: flex;

            li {
                button {
                    z-index: 10;
                    font-size: 18px;
                    line-height: 140%;
                    text-transform: uppercase;
                    color: rgba(13, 13, 13, 0.4);
                    border: none;
                    background-color: transparent;
                    padding: 0;
                }
                @media (min-width: 601px) {
                    &:first-child {
                        &::after {
                            content: "/";
                            font-size: 18px;
                            line-height: 140%;
                            color: rgba(13, 13, 13, 0.4);
                        }
                    }
                }
                &.slick-active {
                    button {
                        color: $black;
                    }
                }
            }
        }
    }
}
@keyframes appear {
    0% {
        opacity: 0.9;
        transform: scale(0.6, 0.6);
    }
    70% {
        opacity: 1;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0.6;
        transform: scale(0.3, 0.3);
    }
}
@-webkit-keyframes appear {
    0% {
        opacity: 0.9;
        -webkit-transform: scale(0.6, 0.6);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
    }
    100% {
        opacity: 0.6;
        -webkit-transform: scale(0.3, 0.3);
    }
}
