.page.page-hero.page-project-hero.page-project-list-hero {
    margin-bottom: 82px;
    @media (min-width: 1500px) {
        margin-bottom: 100px;
    }
    @media (min-width: 1600px) {
        margin-bottom: 115px;
    }
    @media (min-width: 1700px) {
        margin-bottom: 130px;
    }
    @media (min-width: 1800px) {
        margin-bottom: 150px;
    }
    @media (max-width: 850px) {
        margin-bottom: 0px;
    }
    .block-hero__offer.project-hero__offer.project-list-hero__offer.contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 150px;
            @media (min-width: 1441px) {
                font-size: 160px;
                &.offer-solutions {
                    font-size: 120px;
                }
            }
            @media (min-width: 1700px) {
                font-size: 190px;
                &.offer-solutions {
                    font-size: 130px;
                }
            }
            @media (max-width: 1350px) and (min-width: 991px) {
                font-size: 120px;
                &.offer-solutions {
                    font-size: 90px;
                }
            }
            @media (max-width: 1200px) and (min-width: 891px) {
                font-size: 100px;
                &.offer-solutions {
                    font-size: 80px;
                }
            }
            @media (max-width: 890px) and (min-width: 601px) {
                font-size: 70px;
                &.offer-solutions {
                    font-size: 50px;
                }
            }
            @media (max-width: 768px) and (min-width: 601px) {
                font-size: 130px;
                &.offer-solutions {
                    font-size: 100px;
                }
            }
            @media (max-width: 650px) and (min-width: 601px) {
                font-size: 100px;
                &.offer-solutions {
                    font-size: 80px;
                }
            }
        }
        .offer-solutions {
            font-size: 120px;
        }
        .project__hero__info {
            text-align: center;
            font-size: 26px;
            line-height: 130%;
            width: 80%;
            font-weight: 700;
        }
    }
    .logo-main-wrapper.project-list.proj {
        margin-top: 0;
        img {
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            @media (max-width: 1400px) and (min-width: 851px) {
                height: 80%;
            }
        }
    }
}

@media (max-width: 600px) {
    .page.page-hero.page-project-hero.page-project-list-hero {
        .block-hero__offer.project-hero__offer.project-list-hero__offer.contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h1 {
                font-weight: 900;
                font-size: 60px;
                line-height: 60px;
            }
            .offer-solutions {
                font-weight: 900;
                font-size: 45px;
                line-height: 40px;
                letter-spacing: 0.04em;
            }
            .project__hero__info {
                font-weight: 900;
                font-size: 18px;
                line-height: 140%;
                width: 70%;
                text-align: left;
            }
        }
    }
}
