@import "fonts";
@import "mix-var";

@media screen and (max-width: 360px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        max-width: 360px;
        margin: 0 auto;
        .container {
            max-width: 328px;
            margin: 0 auto;
            padding: 0 10px;
        }
    }
}
