@import "fonts";
@import "mix-var";

body,
button {
    font-family: Roboto;
    font-weight: 900;
    margin: 0;
    position: relative;
    color: $black;
}
body.lock {
    overflow: hidden;
}
body {
    height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a {
    color: $black;
}
ul,
ol {
    list-style-type: none;
}
.grecaptcha-badge {
    visibility: hidden;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    .wrap {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 120px;
    }
}
.btn-outlined,
.btn-filled {
    position: relative;
    overflow: hidden;
}
.cursor {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 50%;
    background: rgba(144, 34, 203, 0.12);
    animation: appear 0.4s;
    -webkit-animation: appear 0.25s;
    &.filled {
        background: rgba(255, 255, 255, 0.32);
    }
}

.side-buttons {
    z-index: 998;
    transform: rotate(90deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 13px;
    gap: 8px;
    border-radius: 0px 0px 4px 4px;
    top: 267px;
}
#side-button-left {
    position: absolute;

    left: -51px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 13px;
    border-radius: 4px;
    border: 4px transparent;
    border-style: solid solid none solid;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(
            90deg,
            #005bbb,
            #195dba,
            #3763b8,
            #526db4,
            #6b78ae,
            #8284a7,
            #97909e,
            #aa9c94,
            #bca789,
            #cbb17c,
            #d9ba6d,
            #e4c25d,
            #eec94c,
            #f5ce3a,
            #fbd225,
            #fed40f,
            #ffd500
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    color: $black;
    .flag {
        transform: rotate(270deg);
    }
    &:hover {
        box-shadow: 2px 1000px 1px #e2ebf7 inset;
    }
}
.block-social {
    position: relative;
}
#side-button-right {
    position: fixed;

    right: -51px;
    @include gradient();
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: $text-color;
}
.social-icons {
    visibility: hidden;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 33px 18px;
    gap: 24px;
    // back these when instagram is =====================================
    // padding: 15px 18px;
    // gap: 8px;
    right: -80px;
    top: 207px;
    background: linear-gradient(180deg, #f72f16 0, #9422d1 100%);
    border-radius: 4px 0 0 4px;
    transition: 0.2s ease;
    &__wrapper {
        width: 28px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            box-shadow: inset 0px -4px 0px 0px #fff;
            transition: all 0.2s ease 0s;
        }
    }
    img {
        flex-basis: 30%;
        padding: 8px 0;
        position: relative;
        display: inline-block;
    }
}
.banner-cookies {
    &__container {
        padding: 0 10px;
        position: fixed;
        z-index: 1000;
        left: 0;
        right: 0;
        top: 76vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        text-transform: uppercase;
        border: 4px transparent;
        border-style: solid none solid none;
        background-image: linear-gradient(
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            ),
            -webkit-linear-gradient(45deg, #f72f16, #9422d1);
        box-shadow: 2px 1000px 14px #fff inset;

        font-weight: 700;
    }
    &__desc {
        display: flex;
        align-items: center;
        a {
            color: $black;
            text-decoration: underline;
        }
    }

    .cookies-close-btn {
        @include outlined-button;
        margin-left: 63px;
    }
    &.js-hidden {
        display: none;
    }
}
p {
    font-weight: 500;
}

// header
.header__burger {
    display: none;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    position: fixed;
    z-index: 999;
    background-color: $text-color;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    font-size: 18px;
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .burger__open {
        width: 90px;
    }
    .burger__open__toggler__arrow {
        display: none;
    }
    .burger__open__arrow {
        display: none;
    }
    .burger__open__list {
        display: none;
    }

    .header__burger__logo {
        display: none;
    }
    &__logo {
        &__icon {
            // flex: 0 0 39px;
            overflow: hidden;
            // margin-right: 8px;
            display: block;
            margin-top: 3px;
            img {
                width: 166.16px;
                height: 35.05px;
                display: block;
            }
        }
        @include gradient;
        flex-basis: 20%;
        display: flex;
        align-items: center;
        span {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            font-size: rem(20);
            line-height: 140%;
            text-transform: capitalize;
        }
    }
    &__nav {
        flex-basis: 68%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 55.75rem;
        // gap: 48px;
        margin-top: 3px;
        &__left {
            ul {
                display: flex;
                justify-content: flex-start;
                // width: 30.0625rem;
                text-transform: uppercase;
                gap: 30px;
                margin-left: 68px;
            }
        }
        &__list-item {
            cursor: pointer;
            &:hover {
                @media (min-width: 601px) {
                    @include gradient;
                }
            }
        }
        &__right {
            ul {
                display: flex;
                justify-content: flex-start;
                // width: 17.1875rem;
                list-style-type: none;
                text-transform: uppercase;
                align-items: center;

                gap: 33px;
                li {
                    position: relative;
                    flex-basis: 50%;
                    &:last-child {
                        display: none;
                    }
                    select {
                        font-family: "Roboto";
                        font-style: normal;
                        font-size: 18px;
                        line-height: 140%;
                        text-transform: uppercase;
                        font-weight: 900;
                        border: none;
                        margin-left: 12px;
                        width: 60px;
                        &:focus-visible {
                            outline: none;
                        }
                        option {
                            border: none;
                        }
                        &:hover {
                            @include gradient;
                        }
                    }
                    &.burger-support {
                        display: none;
                    }
                }
            }
            &__contacts {
                @media (min-width: 601px) {
                    margin-right: 28px;
                    margin-left: 28px;
                }
                &.pos {
                    @media (min-width: 1111px) {
                        margin-right: 78px;
                    }
                    @media (max-width: 1110px) {
                        margin-right: 50px;
                    }
                }
            }
        }
    }
    .support-button {
        display: none;
    }
}

// language selector
.language-select {
    transition: 0.8s ease 0.1s;
    &:hover {
        @media (min-width: 601px) {
            .language-option.active {
                @include gradient;
                .language-arrow__down-hover {
                    visibility: visible;
                }
            }
        }
    }
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    height: 20px;
    overflow: hidden;
    width: 50px;
    cursor: pointer;
    .language-option {
        text-align: center;
        flex: 1;
        display: flex;
        justify-content: center;
        order: 2;
        min-height: 40px;
        color: rgba(13, 13, 13, 0.4);
        position: relative;
        img {
            visibility: hidden;
        }
        &:hover {
            @media (min-width: 601px) {
                cursor: pointer;
                @include gradient;
            }
        }
        &.active {
            order: 1;
            pointer-events: none;
            color: $black;
            img {
                visibility: visible;

                position: absolute;
                top: 7px;
                left: 22px;
                display: inline-block;
                margin-left: 14px;
            }
            .language-arrow__down-hover {
                visibility: hidden;
            }
            .language-arrow__down {
                display: inline-block;
            }
            .language-arrow__up-hover {
                visibility: hidden;
            }
            &:hover {
                @media (min-width: 601px) {
                    cursor: pointer;
                    @include gradient;
                }
            }
            // span {
            //     &::after {
            //         content: url("@img/keyboard_arrow_down.svg");
            //         margin-left: 8px;
            //     }
            //     &:hover::after {
            //         content: url("@img/keyboard_arrow_down_hover.svg");
            //     }
            // }
        }
        .arrow-down {
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 11px;
                border: 1px solid $black;
                width: 6px;
                transform: rotate(45deg);
            }
            &::before {
                left: 36px;
                transform: rotate(45deg);
            }
            &::after {
                left: 41px;
                transform: rotate(-45deg);
            }
            &:hover {
                &::before,
                &::after {
                    border-image: linear-gradient(
                        90deg,
                        #f72f16 0%,
                        #9422d1 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
    &.open {
        // ._hidden {
        //     width: 50px;
        //     visibility: hidden;
        // }
        position: absolute;
        z-index: 900;
        height: auto;
        top: -10.8px;
        left: -50px;
        .active {
            @include gradient;
            .language-arrow__down {
                visibility: hidden;
            }
            .language-arrow__up-hover {
                visibility: visible;
            }
        }
        &:hover {
            .language-arrow__down-hover {
                visibility: hidden;
            }
        }
    }
}

.language-select.open:hover
    .language-option.active
    .language-arrow__down-hover {
    visibility: hidden;
}

// page-hero
.page-hero {
    padding-top: 72px;
    margin-bottom: 250px;
    .block-hero {
        display: flex;
        justify-content: space-between;
        margin-bottom: 134px;
        &__offer {
            margin-top: 56px;
            h1 {
                @include change-gradient;
                text-transform: uppercase;
                font-style: normal;
                font-size: 120px;
                line-height: 94%;
            }
            .offer-solutions {
                font-size: 80px;
                letter-spacing: 0.04em;
                color: $text-color;
                -webkit-text-stroke: 6px transparent;
                span {
                    padding-left: 4px;
                    animation: none !important;
                    -webkit-text-fill-color: $text-color !important;
                }
            }
            .block-hero__buttons {
                margin-top: 28px;
                display: flex;
                max-width: 405px;
                justify-content: space-between;
                &__container {
                    position: relative;
                    overflow: hidden;
                    padding: 14px 0;
                }
            }
            .block-hero__buttons__filled {
                @include filled-button();
            }
            .block-hero__buttons__outlined {
                @include outlined-button;
            }
        }

        .logo-main-wrapper {
            background-size: 100% auto;
            width: 439px;
            // height: 454px;
            display: flex;
            align-items: center;
            .logo-main {
                width: 100%;
            }
        }
    }
}

//page-services

.page-services {
    margin-bottom: 65px;
    .block-desc {
        @include block-title;
    }

    .block-services {
        display: flex;
        justify-content: space-between;
        &__list {
            flex-basis: 48%;

            ul {
                li {
                    padding-right: 20px;

                    h3 {
                        cursor: pointer;
                        font-size: 40px;
                        line-height: 120%;
                        letter-spacing: 0.015em;
                        text-transform: uppercase;
                        color: rgba(13, 13, 13, 0.4);
                        padding: 1.02rem 0;

                        &:hover {
                            @include gradient;
                        }
                        &.js-pressed {
                            @include gradient;
                        }
                    }
                }
            }
        }
        &__desc {
            flex-basis: 48%;
            &__service {
                display: none;
                &__img {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &__service.active {
                display: block;
                .block-services__text {
                    margin-top: 28px;
                    h4 {
                        font-size: 26px;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: $black;
                        font-weight: 900;
                    }
                    p {
                        font-size: 18px;
                        line-height: 140%;
                        color: $black;
                        margin-top: 24px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &__slider-wrapper {
            width: 584px;
            overflow: hidden;
            .auto-slider {
                margin-top: 5px;
                &__element {
                    padding: 5px 0;
                    font-size: 18px;
                    line-height: 140%;
                    // text-align: center;
                    text-transform: uppercase;
                    color: $black;
                    margin-right: 24px;
                    &:last-child {
                        margin-right: 10px;
                    }
                }
                .slick-track {
                    display: flex;
                    width: 40px;
                }
                .slick-slide {
                    margin: 0 7px;
                }
            }
        }
    }
    .tablet-visible.block-services__desc__service {
        display: none;
    }
    .block-services__slider-wrapper.tablet-visible {
        display: none;
    }
}

// page-feedbacks

.page-feedbacks {
    padding-bottom: 45px;
    padding-top: 90px;
    background-color: $background;
    .block-feedback {
        @include block-title;
        margin-bottom: 109px;
        p {
            margin-top: 114px;
        }
    }

    @include slider;
}

// page-projects

.page-projects {
    padding-top: 100px;
    margin-bottom: 220px;
    .block-projects {
        @include block-title;
        margin-bottom: 50px;
        h2 {
            flex-basis: 60%;
        }

        p {
            margin-top: 114px;
        }
    }
    .block-projects-desc-card {
        display: flex;
        justify-content: space-between;
        &__info {
            flex-basis: 40.7%;
            h3 {
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                margin-bottom: 24px;
                font-weight: 900;
            }
            p {
                font-size: 18px;
                line-height: 140%;
                margin-bottom: 11px;
            }
            &__lists {
                margin-top: 23px;
                margin-bottom: 20px;
                ul {
                    margin-bottom: 5px;
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    li {
                        font-size: 18px;
                        line-height: 140%;
                        text-transform: uppercase;
                        list-style-type: disc;
                        list-style-position: inside;
                        margin-right: 21px;
                        &::marker {
                            font-size: 24px;
                        }
                        &:first-child {
                            list-style-type: none;
                        }
                    }
                }
                &__tablet-visible {
                    display: none;
                }
            }
            button {
                @include outlined-button;
            }
        }
        &__img {
            width: 43vw;
            max-width: 687px;
            img {
                width: 100%;
            }
        }
    }
}

// page-partners
.page-partners {
    padding-bottom: 12px;
    padding-top: 60px;
    background-color: $background;
    .block-coop {
        @include block-title;
        margin-bottom: 110px;
        p {
            margin-top: 114px;
        }
    }
    @include slider;
    .block-partners__slide {
        display: flex;
        justify-content: space-between;
        &__column {
            &__right {
                flex-basis: 48.5%;
            }
            &__left {
                flex-basis: 48.5%;
            }
            .block-partners__partner {
                display: flex;
                justify-content: space-between;
                margin-bottom: 49px;
                .img {
                    display: flex;
                    align-items: center;
                    height: 182.4px;
                    width: 173px;
                    img {
                        margin: 0 auto;
                        padding-bottom: 25px;
                    }
                }
                &__desc {
                    flex-basis: 65%;
                    h4 {
                        font-size: 26px;
                        line-height: 130%;
                        text-transform: uppercase;
                        max-width: 350px;
                        margin-bottom: 14px;
                    }
                    p {
                        font-size: 18px;
                        line-height: 140%;
                    }
                }
            }
        }
    }
    .block-slider.block-partners__slider.tablet-visible {
        display: none;
    }
}

// page-technologies

.page-technologies {
    padding-top: 100px;
    margin-bottom: 100px;
    .block-tech {
        @include block-title;
        margin-bottom: 104px;
        p {
            margin-top: 128px;
        }
    }
    @include slider__center-mode;
    .absolute {
        // width: 1200px;
        margin: 0 auto;
    }
    .block-tech__slider {
        display: flex;

        // overflow: hidden;
        .slick-list {
            // max-width: 100vw;
            // margin: 0 -26px;
            // margin: 0 -27px;
        }
        .slick-slide {
            // max-width: 379px;
            // padding: 0 15px;
            // margin: 0 27px;
        }
        &__cards {
            display: flex;
            justify-content: space-between;
            // margin-top: 2px;
            position: relative;
            &__card {
                &.frontend-card {
                    @include tech-cards(
                        "@img/frontend.png",
                        linear-gradient(
                            0deg,
                            rgba(21, 0, 48, 0.24),
                            rgba(21, 0, 48, 0.24)
                        ),
                        0,
                        113%
                    );
                }
                &.backend-card {
                    @include tech-cards(
                        "@img/backend.png",
                        linear-gradient(
                            0deg,
                            rgba(48, 11, 96, 0.34),
                            rgba(48, 11, 96, 0.34)
                        ),
                        -24px,
                        103%
                    );
                }
                &.databases-card {
                    @include tech-cards(
                        "@img/databases.png",
                        linear-gradient(
                            0deg,
                            rgba(21, 0, 48, 0.34),
                            rgba(21, 0, 48, 0.34)
                        ),
                        74px,
                        250%
                    );
                }
                &.infrastructure-card {
                    @include tech-cards(
                        "@img/infrastructure.png",
                        linear-gradient(
                            0deg,
                            rgba(21, 0, 48, 0.34),
                            rgba(21, 0, 48, 0.34)
                        ),
                        -24px,
                        107%
                    );
                }
                &.automation-card {
                    @include tech-cards(
                        "@img/automation.png",
                        linear-gradient(
                            0deg,
                            rgba(21, 0, 48, 0.34),
                            rgba(21, 0, 48, 0.34)
                        ),
                        24px,
                        205%
                    );
                }
                &.design-card {
                    @include tech-cards(
                        "@img/design.png",
                        linear-gradient(
                            0deg,
                            rgba(21, 0, 48, 0.34),
                            rgba(21, 0, 48, 0.34)
                        ),
                        -2px,
                        101%
                    );
                }
                width: 379px;
                position: relative;

                &__wrapper {
                    // width: 379px;
                    transition: all 0.8s ease;
                }
                transition: all 0.8s ease;

                &__img {
                    transform: scale(1, 0.35);
                    transform-origin: top center;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.8s ease;
                }
                // height: 173px;
                @media (min-width: 601px) {
                    &:hover {
                        transition: all 0.8s ease;
                        height: 504px;

                        .block-tech__slider__cards__card__wrapper {
                            height: 504px;
                        }
                        z-index: 2;
                        @media (min-width: 601px) {
                            .block-tech__slider__cards__card__img {
                                transform: scale(1);
                                visibility: visible;
                                opacity: 1;
                                position: absolute;
                                z-index: 1;
                                top: -5px;
                                left: 2px;
                                width: 379px;
                                height: 504px;
                                border-radius: 8px;
                                margin-left: -1px;
                                background-image: -webkit-linear-gradient(
                                    1deg,
                                    #f72f16,
                                    #9422d1
                                );
                            }
                            // background: url(../img/TechnologyCard.png) no-repeat;
                            // opacity: 1;
                            // height: 498px;
                            // box-shadow: none;
                            // color: $text-color;
                            // margin-top: -2px;
                            // animation-name: slide-open;
                            // animation-duration: 0.2s;
                            h4 {
                                position: absolute;
                                z-index: 2;
                                margin-top: 6px;
                                color: $text-color;

                                // background-color: transparent;
                            }
                            .block-tech__slider__cards__card__desc {
                                top: 71px;
                                position: absolute;
                                z-index: 2;
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 21px;
                                color: $text-color;

                                // background-color: transparent;

                                p {
                                    color: $text-color;
                                    // background-color: transparent;
                                }
                            }

                            &::after {
                                opacity: 0;
                            }
                            &::before {
                                opacity: 0;
                                transition: all 0.8s ease;
                            }
                        }
                    }
                }
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: flex-start;
                padding: 17px 16px;
                // border-radius: 0.125em;
                // overflow: hidden;
                // margin-right: 34px;
                background-color: #fff;
                box-sizing: border-box;
                margin-top: 4px;
                margin-bottom: 4px;
                transition: all 0.8s ease;
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    top: -5px;
                    left: 0px;
                    width: 379px;
                    height: 5px;
                    background-image: -webkit-linear-gradient(
                        1deg,
                        #f72f16,
                        #9422d1
                    );
                    &:hover {
                        background-repeat: 6px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    bottom: -4px;
                    left: 0px;
                    width: 379px;
                    height: 5px;
                    background-image: -webkit-linear-gradient(
                        1deg,
                        #f72f16,
                        #9422d1
                    );
                }
                h4 {
                    font-size: 26px;
                    line-height: 130%;
                    text-transform: uppercase;
                    margin-bottom: 18px;
                }
                &__desc {
                    display: -webkit-box;
                    width: 346px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // margin-top: 17px;
                    @include white-button;
                    p {
                        color: $black;
                    }
                    ul {
                        margin-bottom: 45px;
                        list-style-type: disc;
                        padding-left: 20px;
                        margin-left: 8px;
                    }
                    li {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                        text-transform: uppercase;
                        position: relative;
                    }
                }
            }
        }
    }
    @media (min-width: 1600px) {
        .absolute {
            // width: 1200px;
            // margin: 0 auto;
            width: auto;
            .block-tech__slider {
                display: block;
                width: 1360px;
                margin: 0 auto;
                overflow: hidden;
                .slick-list {
                    overflow: visible;
                    // margin: 0 -26px;
                    // margin: 0 -27px;
                }
                .slick-slide {
                    // max-width: 379px;
                    // padding: 0 15px;
                    margin: 0 48px !important;
                }
            }
        }
    }
    @media (min-width: 1440px) and (max-width: 1599px) {
        .absolute {
            // width: 1200px;
            // margin: 0 auto;
            width: auto;
            .block-tech__slider {
                display: block;
                width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                .slick-list {
                    overflow: visible;
                    margin: 0 0 0 10px;
                    // margin: 0 -26px;
                    // margin: 0 -27px;
                }
                .slick-slide {
                    // max-width: 379px;
                    // padding: 0 15px;
                    margin: 0 12px;
                }
            }
        }
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
        .absolute {
            // width: 1200px;
            // margin: 0 auto;
            width: auto;
            .block-tech__slider {
                display: block;
                width: 960px;
                margin: 0 auto;
                overflow: hidden;
                .slick-list {
                    overflow: visible;
                    margin: 0 0 0 0px;
                    // margin: 0 -26px;
                    // margin: 0 -27px;
                }
                .slick-slide {
                    // max-width: 379px;
                    // padding: 0 15px;
                    margin: 0 91px;
                }
            }
        }
    }
    @media (min-width: 1110px) and (max-width: 1199px) {
        .absolute {
            // width: 1200px;
            // margin: 0 auto;
            width: auto;
            .block-tech__slider {
                display: block;
                width: 870px;
                margin: 0 auto;
                overflow: hidden;
                .slick-list {
                    overflow: visible;
                    margin: 0 0 0 0px;
                    // margin: 0 -26px;
                    // margin: 0 -27px;
                }
                .slick-slide {
                    // max-width: 379px;
                    // padding: 0 15px;
                    margin: 0 48px;
                }
            }
        }
    }
    @media (min-width: 923px) and (max-width: 1109px) {
        .absolute {
            // width: 1200px;
            // margin: 0 auto;
            width: auto;
            .block-tech__slider {
                display: block;
                width: 805px;
                margin: 0 auto;
                overflow: hidden;
                .slick-list {
                    overflow: visible;
                    margin: 0 0 0 0px;
                    // margin: 0 -26px;
                    // margin: 0 -27px;
                }
                .slick-slide {
                    // max-width: 379px;
                    // padding: 0 15px;
                    margin: 0 13px;
                }
            }
        }
    }
    @media (max-width: 922px) {
        .absolute {
            // width: 1200px;
            // margin: 0 auto;
            width: auto;
            .block-tech__slider {
                display: block;
                width: auto;
                margin: 0 auto;
                overflow: hidden;
                .slick-list {
                    overflow: visible;
                    margin: 0 0 0 0px;
                    // margin: 0 -26px;
                    // margin: 0 -27px;
                }
                .slick-slide {
                    // max-width: 379px;
                    // padding: 0 15px;
                    margin: 0 13px;
                }
            }
        }
    }

    .block-slider__center-mode.block-tech__slider.tablet-visible {
        display: none;
    }
}

.page-contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    &::after {
        content: "";
        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(13, 13, 13, 0.12) url("@img/loading.gif") center /
            180px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all 0.8s ease-out 1ms;
    }
    &._sending {
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
    .block-contacts-title {
        @include block-title;

        display: flex;
        flex-direction: column;
        max-width: 480px;
        margin-bottom: 120px;
        h4 {
            font-size: 26px;
            line-height: 130%;
            text-transform: uppercase;
            margin-top: 15px;
        }
    }
    .block-contacts {
        display: flex;
        justify-content: space-between;
        position: relative;
        &__address {
            flex-basis: 23%;
            h3 {
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                margin-bottom: 12px;
                font-weight: 900;
            }
            p {
                font-weight: 900;
                font-size: 18px;
                line-height: 140%;
                text-transform: uppercase;
                margin: 0 0 16px 8px;
                a {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
        &__maps {
            display: flex;
            justify-content: space-between;

            &__eurasia {
                position: relative;
            }
            &__location {
                position: absolute;
                top: 36px;
                left: 43px;
            }
        }
        &__form {
            flex-basis: 40%;

            form {
                display: flex;
                flex-direction: column;
                position: relative;

                label {
                    font-size: 18px;
                    line-height: 140%;
                    text-transform: uppercase;
                }
                input[type="text"],
                input[type="email"] {
                    border: none;
                    border-bottom: 3px solid #0d0d0d;
                    padding: 11px 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 140%;
                    color: $black;
                    margin-bottom: 30px;
                    &:focus-visible {
                        outline: none;
                    }
                    &::-webkit-input-placeholder {
                        color: $ph;
                    }
                    &::-moz-placeholder {
                        color: $ph;
                    } /* Firefox 19+ */
                    &:-moz-placeholder {
                        color: $ph;
                    } /* Firefox 18- */
                    &:-ms-input-placeholder {
                        color: $ph;
                    }
                }
                span {
                    display: none;
                    position: absolute;
                    font-size: 14px;
                    line-height: 140%;
                    color: #b00020;
                }
                #require-name {
                    top: 76px;
                }
                #require-email {
                    top: 182px;
                }
                #wrong-email {
                    top: 182px;
                }
                .submit-container {
                    max-width: 172px;
                    margin-top: 20px;
                }
                input[type="submit"] {
                    @include filled-button;
                    font-family: "Roboto";
                    font-weight: 900;
                    font-size: 18px;
                    width: 100%;
                    border: none;
                    padding: 12px 0px;
                    margin: 0;
                }
                .input-name-wrapper,
                .input-email-wrapper {
                    display: flex;
                    flex-direction: column;
                }
                .input-name-wrapper._error {
                    .require-name {
                        display: block;
                        position: absolute;
                        font-size: 14px;
                        line-height: 140%;
                        color: #b00020;
                    }
                    .label-name {
                        color: #b00020;
                    }
                    .form-name._error {
                        border-bottom: 3px solid #b00020;
                    }
                }
                .input-email-wrapper._error {
                    .require-email {
                        display: block;
                        position: absolute;
                        font-size: 14px;
                        line-height: 140%;
                        color: #b00020;
                    }
                    .label-email {
                        color: #b00020;
                    }
                    .form-email._error {
                        border-bottom: 3px solid #b00020;
                    }
                }
                .input-comment {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

// Ukraine popup

.overlay_popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(13, 13, 13, 0.12);
    transition: all 0.8s ease-out 0s;
}

.popup {
    opacity: 0;
    visibility: hidden;
    position: relative;
    z-index: 1000;
    position: fixed;
    top: 47.2%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    border: solid 4px transparent;

    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    transition: all 0.8s ease 0s;

    .desc {
        width: 538px;
        // height: 232px;
        background-color: #eee;
        padding: 24px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        h4 {
            @include gradient;
            font-weight: 900;
            font-size: 26px;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 23px;
        }
        p {
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            margin-bottom: 23px;
        }
        .donut-link {
            @include filled-button;
        }
        .close-x {
            position: absolute;
            width: 24px;
            height: 28px;
            top: 33px;
            right: 21px;
        }
    }
}
.support-popup {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(
            90deg,
            #005bbb,
            #195dba,
            #3763b8,
            #526db4,
            #6b78ae,
            #8284a7,
            #97909e,
            #aa9c94,
            #bca789,
            #cbb17c,
            #d9ba6d,
            #e4c25d,
            #eec94c,
            #f5ce3a,
            #fbd225,
            #fed40f,
            #ffd500
        );
}
.start-project-popup {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        $gradient-main;
    .desc {
        display: flex;
        justify-content: space-between;
        height: 288px;
        padding: 24px 60px;
        h4 {
            margin-bottom: 0;
        }
        &__text {
            p {
                margin-bottom: 0;
            }
            &__bold {
                font-weight: 700;
            }
        }
        .donut-link {
            @include filled-button;
        }
    }
}

// footer
.footer {
    .wrapper {
        margin: 0 120px;
    }
    margin: 0 auto;
    width: 100%;
    // max-width: 1440px;
    // width: 100%;
    // height: 434px;
    background-color: $black;
    color: $text-color;
    display: flex;
    flex-direction: column;
    .footer-row1 {
        display: flex;
        justify-content: space-between;
    }
    .footer-container {
        padding: 50px 10px 0;
        // max-width: 1200px;
        padding-left: 120px;
        padding-right: 120px;
        margin: 0 auto;
        padding-bottom: 45px;

        .footer__column {
            flex-basis: 24%;
            &__logo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 14px;

                cursor: pointer;
                img {
                    width: 166.16px;
                    height: 35.05px;
                }
                span {
                    margin-left: 8px;
                    font-family: "Open Sans";
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                }
            }
            &__list {
                &__socials {
                    display: flex;
                    justify-content: space-between;
                    gap: 27px;
                    &-logos {
                        display: flex;
                        align-items: stretch;
                        gap: 27px;
                        &__link {
                            display: flex;
                            align-items: center;
                            padding-bottom: 8px;
                            &:hover {
                                box-shadow: inset 0px -4px 0px 0px #fff;
                                transition: all 0.2s ease 0s;
                            }
                        }
                    }
                }
                &__link {
                    color: $text-color;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            h5 {
                font-size: 18px;
                line-height: 140%;
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            ul {
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                li {
                    margin-bottom: 16px;
                }
            }
            &__center {
                display: flex;
                justify-content: space-evenly;
                margin-top: 8px;
                flex: 1 1 auto;
            }
            &__last {
                flex-basis: 18%;
                margin-top: 8px;
                a {
                    text-decoration: none;
                    font-size: 18px;
                    text-transform: uppercase;
                    padding: 10px 13px;
                    border-radius: 4px;
                    border: solid 4px $text-color;
                    color: $text-color;
                    background-color: transparent;
                }
            }
        }
    }
    .footer-author-info {
        margin-top: 15px;
        display: flex;
        width: auto;
        font-size: 14px;
        line-height: 140%;
        &__item {
            margin-right: 28px;
        }
        &__link {
            text-decoration: underline;
            color: $text-color;
        }
    }
}

// slider editor
// .page-technologies.block-slider__center-mode {
//     margin-right: -108px;
// }
// .slick-list {
//     padding-right: 10%;
// }
// .slick-slide {
//     margin-left: 1px;
//     margin-right: 26px;
// }
// .page-technologies .block-slider__center-mode .slick-arrow.slick-prev {
//     right: 289px;
// }
// .page-technologies .block-slider__center-mode .slick-arrow.slick-next {
//     right: 95px;
// }
// .slick-dots {
//     right: 220px;
// }
// .slick-track {
//     display: flex;
//     width: 40px;
// }

.absolute {
    @media (min-width: 1440px) {
        width: calc(100vw - (100vw - 1177px) / 2);
    }
    @media (max-width: 1200px) {
        width: 100%;
    }
}
// .page-technologies .block-slider__center-mode .slick-arrow.slick-prev {
//     @media (min-width: 1440px) {
//         right: calc((100vw - 1200px) / 2 + 186px);
//     }

//     @media (max-width: 1200px) {
//         right: 195px;
//     }
// }

// .page-technologies .block-slider__center-mode .slick-dots {
//     @media (min-width: 1440px) {
//         right: calc((100vw - 1200px) / 2 + 115px);
//     }

//     @media (max-width: 1200px) {
//         right: 127px;
//     }
// }
// .page-technologies .block-slider__center-mode .slick-arrow.slick-next {
//     @media (min-width: 1440px) {
//         right: calc((100vw - 1200px) / 2 - 2px);
//     }
//     @media (max-width: 1200px) {
//         right: 2px;
//     }
// }
@import "privacy-style";
@import "project-style";
@import "project-list-style";
@import "adaptive";
@import "style-tab";
@import "style-mobile";
@import "animation";
@import "giant-adaptive";
// .page-hero {
//     display: none;
// }
// .page-services {
//     display: none;
// }
// .page-feedbacks {
//     display: none;
// }
// .page-projects {
//     display: none;
// }
// .page-partners {
//     display: none;
// }
// .page-technologies {
//     display: none;
// }
// .page-contacts {
//     display: none;
// }
// .footer {
//     display: none;
// }
