@import "fonts";
@import "mix-var";
// слайдер показати варіант 1
// .slick-slide {
//     padding-left: calc(100% - 1200px) / 2 +15px (1px);
// }
// .slick-slide {
//     padding-left: 10px;
// }
// слайдер показати варіант 2
// .slick-slide {
//     margin: 0 15px;
// }
// .slick-list {
//     margin: 0 -15px;
//     padding: 0 10% 0 0;
// }
body,
button {
    font-family: Roboto;
    font-weight: 900;
    margin: 0;
    position: relative;
    color: $black;
}
body.lock {
    overflow: hidden;
}
html,
body,
main {
    // width: 1440px;
    // margin: 0 auto;
    // padding: 0 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style-type: none;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    .wrap {
        width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
}
.btn-outlined,
.btn-filled {
    position: relative;
    overflow: hidden;
}
.cursor {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 50%;
    background: rgba(144, 34, 203, 0.12);
    animation: appear 0.4s;
    -webkit-animation: appear 0.25s;
    &.filled {
        background: rgba(255, 255, 255, 0.32);
    }
}

.side-buttons {
    position: fixed;
    z-index: 998;
    transform: rotate(90deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 13px;
    gap: 8px;
    border-radius: 0px 0px 4px 4px;
    top: 267px;
}
#side-button-left {
    left: -51px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 13px;
    border-radius: 4px;
    border: 4px transparent;
    border-style: solid solid none solid;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(
            90deg,
            #005bbb,
            #195dba,
            #3763b8,
            #526db4,
            #6b78ae,
            #8284a7,
            #97909e,
            #aa9c94,
            #bca789,
            #cbb17c,
            #d9ba6d,
            #e4c25d,
            #eec94c,
            #f5ce3a,
            #fbd225,
            #fed40f,
            #ffd500
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    color: $black;
    .flag {
        transform: rotate(270deg);
    }
    &:hover {
        box-shadow: 2px 1000px 1px #e2ebf7 inset;
    }
}
.block-social {
    position: relative;
}
#side-button-right {
    right: -51px;
    @include gradient();
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: $text-color;
}
.social-icons {
    visibility: hidden;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    gap: 8px;
    right: -80px;
    top: 207px;
    background: linear-gradient(180deg, #f72f16 0, #9422d1 100%);
    border-radius: 4px 0 0 4px;
    transition: 0.2s ease;
    &__wrapper {
        width: 28px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            box-shadow: inset 0px -4px 0px 0px #fff;
            transition: all 0.2s ease 0s;
        }
    }
    img {
        flex-basis: 30%;
        padding: 8px 0;
        position: relative;
        display: inline-block;
    }
}
.banner-cookies {
    &__desc {
        display: flex;
        align-items: center;
    }
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 575px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    border: 4px transparent;
    border-style: solid none solid none;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        -webkit-linear-gradient(45deg, #f72f16, #9422d1);
    box-shadow: 2px 1000px 14px #fff inset;

    font-weight: 700;

    .cookies-close-btn {
        @include outlined-button;
        margin-left: 63px;
    }
    &.js-hidden {
        display: none;
    }
}
main {
}
p {
    font-weight: 500;
}

// header
.header__burger {
    display: none;
}

.header {
    .burger__open__toggler__arrow {
        display: none;
    }
    .burger__open__arrow {
        display: none;
    }
    .burger__open__list {
        display: none;
    }
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    max-width: 1440px;
    margin: 0 auto;
    position: fixed;
    z-index: 999;
    background-color: $text-color;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    display: flex;
    font-size: 18px;
    margin: 0 auto;
    justify-content: space-between;
    .header__burger {
        display: none;
    }
    .header__burger__logo {
        display: none;
    }
    &__logo {
        &__icon {
            flex: 0 0 39px;
            overflow: hidden;
            // margin-right: 8px;
        }
        @include gradient;
        flex-basis: 20%;
        display: flex;
        align-items: center;
        img {
            max-width: 100%;
            display: block;
        }
        span {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            font-size: rem(20);
            line-height: 140%;
            text-transform: capitalize;
        }
    }
    &__nav {
        flex-basis: 68%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 892px;
        &__left {
            ul {
                display: flex;
                justify-content: flex-start;
                width: 481px;
                text-transform: uppercase;
                li {
                    flex-basis: 25%;
                }
            }
        }
        &__right {
            ul {
                display: flex;
                justify-content: flex-start;
                width: 275px;
                list-style-type: none;
                text-transform: uppercase;
                align-items: center;
                li {
                    position: relative;
                    flex-basis: 50%;
                    &:last-child {
                        display: none;
                    }
                    select {
                        font-family: "Roboto";
                        font-style: normal;
                        font-size: 18px;
                        line-height: 140%;
                        text-transform: uppercase;
                        font-weight: 900;
                        border: none;
                        margin-left: 12px;
                        width: 60px;
                        &:focus-visible {
                            outline: none;
                        }
                        option {
                            border: none;
                        }
                        &:hover {
                            @include gradient;
                        }
                    }
                }
            }
        }
    }
    .support-button {
        display: none;
    }
}

// language selector
.language-select {
    &:hover {
        color: red;
    }
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    .language-option {
        text-align: center;
        flex: 1;
        display: flex;
        justify-content: center;
        order: 2;
        min-height: 40px;
        color: rgba(13, 13, 13, 0.4);
        img {
            display: none;
        }
        &:hover {
            @media (min-width: 601px) {
                cursor: pointer;
                @include gradient;
            }
        }
        &.active {
            order: 1;
            pointer-events: none;
            color: $black;
            img {
                display: inline-block;
                margin-left: 8px;
            }
            .language-arrow__down {
                display: inline-block;
            }
            .language-arrow__up-hover {
                display: none;
            }
            &:hover {
                @media (min-width: 601px) {
                    cursor: pointer;
                    @include gradient;
                }
            }
            // span {
            //     &::after {
            //         content: url("@img/keyboard_arrow_down.svg");
            //         margin-left: 8px;
            //     }
            //     &:hover::after {
            //         content: url("@img/keyboard_arrow_down_hover.svg");
            //     }
            // }
        }
    }
    &.open {
        position: absolute;
        z-index: 900;
        height: auto;
        top: -10.8px;
        .active {
            @include gradient;
            .language-arrow__down {
                display: none;
            }
            .language-arrow__up-hover {
                display: inline-block;
            }
        }
    }
}

// page-hero
.page-hero {
    padding-top: 72px;
    margin-bottom: 293px;
    .block-hero {
        display: flex;
        justify-content: space-between;
        margin-bottom: 134px;
        &__offer {
            margin-top: 56px;
            h1 {
                @include gradient;
                text-transform: uppercase;
                font-style: normal;
                font-size: 110px;
                line-height: 94%;
            }
            .offer-solutions {
                font-size: 80px;
                letter-spacing: 0.04em;
                color: $text-color;
                -webkit-text-stroke: 4px transparent;
                span {
                    -webkit-text-fill-color: $text-color;
                }
            }
            .block-hero__buttons {
                margin-top: 28px;
                display: flex;
                max-width: 405px;
                justify-content: space-between;
                &__container {
                    position: relative;
                    overflow: hidden;
                    padding: 14px 0;
                }
            }
            .block-hero__buttons__filled {
                @include filled-button();
            }
            .block-hero__buttons__outlined {
                @include outlined-button;
            }
        }

        .logo-main {
            background-size: 100% auto;
            width: 439px;
            height: 454px;
        }
    }
}

//page-services

.page-services {
    margin-bottom: 221px;
    .block-desc {
        @include block-title;
    }

    .block-services {
        display: flex;
        justify-content: space-between;
        &__list {
            flex-basis: 48%;

            ul {
                li {
                    h3 {
                        cursor: pointer;
                        font-size: 40px;
                        line-height: 120%;
                        letter-spacing: 0.015em;
                        text-transform: uppercase;
                        color: rgba(13, 13, 13, 0.4);
                        padding: 1.02rem 0;

                        &:hover {
                            @include gradient;
                        }
                        &.js-pressed {
                            @include gradient;
                        }
                    }
                }
            }
        }
        &__desc {
            flex-basis: 48%;
            &__service {
                display: none;
            }
            &__service.active {
                display: block;
                .block-services__text {
                    margin-top: 28px;
                    h4 {
                        font-size: 26px;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: $black;
                        font-weight: 900;
                    }
                    p {
                        font-size: 18px;
                        line-height: 140%;
                        color: $black;
                        margin-top: 24px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &__slider-wrapper {
            width: 378px;
            overflow: hidden;
            .auto-slider {
                margin-top: 5px;
                &__element {
                    padding: 5px 0;
                    font-size: 18px;
                    line-height: 140%;
                    // text-align: center;
                    text-transform: uppercase;
                    color: $black;
                    margin-right: 24px;
                    &:last-child {
                        margin-right: 10px;
                    }
                }
                .slick-track {
                    display: flex;
                    width: 40px;
                }
                .slick-slide {
                    margin: 0 7px;
                }
            }
        }
    }
    .tablet-visible.block-services__desc__service {
        display: none;
    }
    .block-services__slider-wrapper.tablet-visible {
        display: none;
    }
}

// page-feedbacks

.page-feedbacks {
    margin-bottom: 167px;
    .block-feedback {
        @include block-title;
        margin-bottom: 109px;
        p {
            margin-top: 114px;
        }
    }
    @include slider;
}

// page-projects

.page-projects {
    margin-bottom: 154px;
    .block-projects {
        @include block-title;
        margin-bottom: 120px;
        p {
            margin-top: 114px;
        }
    }
    .block-projects-desc-card {
        display: flex;
        justify-content: space-between;
        &__info {
            flex-basis: 40.7%;
            h3 {
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            p {
                font-size: 18px;
                line-height: 140%;
                margin-bottom: 11px;
            }
            &__lists {
                margin-top: 23px;
                margin-bottom: 20px;
                ul {
                    margin-bottom: 5px;
                    display: flex;
                    align-items: flex-end;
                    li {
                        font-size: 18px;
                        line-height: 140%;
                        text-transform: uppercase;
                        list-style-type: disc;
                        list-style-position: inside;
                        margin-right: 21px;
                        &::marker {
                            font-size: 24px;
                        }
                        &:first-child {
                            list-style-type: none;
                        }
                    }
                }
                &__tablet-visible {
                    display: none;
                }
            }
            button {
                @include outlined-button;
            }
        }
    }
}

// page-partners
.page-partners {
    margin-bottom: 132px;
    .block-coop {
        @include block-title;
        margin-bottom: 110px;
        p {
            margin-top: 114px;
        }
    }
    @include slider;
    .block-partners__slide {
        display: flex;
        justify-content: space-between;
        &__column {
            &__right {
                flex-basis: 48.5%;
            }
            &__left {
                flex-basis: 48.5%;
            }
            .block-partners__partner {
                display: flex;
                justify-content: space-between;
                margin-bottom: 49px;
                .img {
                    display: flex;
                    align-items: center;
                    height: 182.4px;
                    width: 173px;
                    img {
                        margin: 0 auto;
                        padding-bottom: 25px;
                    }
                }
                &__desc {
                    flex-basis: 65%;
                    h4 {
                        font-size: 26px;
                        line-height: 130%;
                        text-transform: uppercase;
                        max-width: 350px;
                        margin-bottom: 14px;
                    }
                    p {
                        font-size: 18px;
                        line-height: 140%;
                    }
                }
            }
        }
    }
    .block-slider.block-partners__slider.tablet-visible {
        display: none;
    }
}

// page-technologies

.page-technologies {
    margin-bottom: 160px;
    .block-tech {
        @include block-title;
        margin-bottom: 104px;
        p {
            margin-top: 128px;
        }
    }
    @include slider__center-mode;
    .block-tech__slider {
        .slick-slide {
            // margin: 0 38px 0 0;
        }
        &__cards {
            display: flex;
            justify-content: space-between;
            margin-top: 2px;
            &__card {
                &:hover {
                    @media (min-width: 601px) {
                        background: url(../img/TechnologyCard.png) no-repeat;
                        opacity: 1;
                        height: 465px;
                        box-shadow: none;
                        color: $text-color;
                        margin-top: -6px;
                        animation-name: slide-open;
                        animation-duration: 0.2s;
                        h4 {
                            margin-top: 6px;
                        }
                        .block-tech__slider__cards__card__desc {
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 21px;
                            p {
                                color: $text-color;
                            }
                        }
                    }
                }
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: flex-start;
                padding: 17px 16px;
                border: solid 6px transparent;
                border-style: solid none solid none;
                background-image: linear-gradient(
                        rgba(255, 255, 255, 0),
                        rgba(255, 255, 255, 0)
                    ),
                    -webkit-linear-gradient(1deg, #f72f16, #9422d1);
                box-shadow: 2px 1000px 14px #fff inset;
                overflow: hidden;
                margin-right: 34px;
                h4 {
                    font-size: 26px;
                    line-height: 130%;
                    text-transform: uppercase;
                    margin-bottom: 18px;
                }
                &__desc {
                    display: -webkit-box;
                    width: 346px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // margin-top: 17px;
                    @include white-button;
                    p {
                        color: $black;
                    }
                    ul {
                        margin-bottom: 45px;
                        list-style-type: disc;
                        padding-left: 20px;
                        margin-left: 8px;
                    }
                    li {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                        text-transform: uppercase;
                        position: relative;
                    }
                }

                animation-name: slide-close;

                animation-duration: 0.2s;
            }
        }
    }
    .block-slider__center-mode.block-tech__slider.tablet-visible {
        display: none;
    }
}
@keyframes slide-open {
    0% {
        height: auto;
        opacity: 0.1;
    }
    10% {
        height: 195px;
        opacity: 0.2;
    }
    20% {
        height: 225px;
        opacity: 0.3;
    }
    30% {
        height: 255px;
        opacity: 0.4;
    }
    40% {
        height: 285px;
        opacity: 0.5;
    }
    50% {
        height: 315px;
        opacity: 0.6;
    }
    60% {
        height: 345px;
        opacity: 0.7;
    }
    70% {
        height: 375px;
        opacity: 0.8;
    }
    80% {
        height: 405px;
        opacity: 0.9;
    }
    90% {
        height: 435px;
        opacity: 0.95;
    }
    100% {
        height: 465px;
        opacity: 1;
    }
}
@keyframes slide-close {
    100% {
        height: auto;
    }
    90% {
        height: 195px;
    }
    80% {
        height: 225px;
    }
    70% {
        height: 255px;
    }
    60% {
        height: 285px;
    }
    50% {
        height: 315px;
    }
    40% {
        height: 345px;
    }
    30% {
        height: 375px;
    }
    20% {
        height: 405px;
    }
    10% {
        height: 435px;
    }
    0% {
        height: 465px;
    }
}

.tech-card {
    display: none;
    position: absolute;
    top: 3px;
    left: 0;
    border-radius: 8px;
    border: solid 4px transparent;
    // background-image: linear-gradient(
    //         rgba(255, 255, 255, 0),
    //         rgba(255, 255, 255, 0)
    //     ),
    //     $gradient-main;
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    width: 370px;
    height: 541px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
        display: none;
    }
}
// page-contacts

.page-contacts {
    .block-contacts-title {
        @include block-title;

        display: flex;
        flex-direction: column;
        max-width: 480px;
        margin-bottom: 120px;
        h4 {
            font-size: 26px;
            line-height: 130%;
            text-transform: uppercase;
            margin-top: 15px;
        }
    }
    .block-contacts {
        display: flex;
        justify-content: space-between;

        &__address {
            flex-basis: 23%;
            h3 {
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                margin-bottom: 12px;
                font-weight: 900;
            }
            p {
                font-family: "Open Sans";
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 15px;
                line-height: 24px;
                a {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
        &__maps {
            flex-basis: 30%;

            display: flex;
            justify-content: space-between;
            #america-map {
                background-image: url("@img/AmericaMask.png");
                width: 164.6px;
                height: 178.95px;
            }
            #eurasia-map {
                background-image: url("@img/EurasiaMask.png");
                width: 214.4px;
                height: 178.95px;
            }
        }
        &__form {
            flex-basis: 40%;

            form {
                display: flex;
                flex-direction: column;
                position: relative;

                label {
                    font-size: 18px;
                    line-height: 140%;
                    text-transform: uppercase;
                }
                input[type="text"],
                input[type="email"] {
                    border: none;
                    border-bottom: 3px solid #0d0d0d;
                    padding: 11px 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 140%;
                    color: $black;
                    margin-bottom: 30px;
                    &:focus-visible {
                        outline: none;
                    }
                    &::-webkit-input-placeholder {
                        color: $ph;
                    }
                    &::-moz-placeholder {
                        color: $ph;
                    } /* Firefox 19+ */
                    &:-moz-placeholder {
                        color: $ph;
                    } /* Firefox 18- */
                    &:-ms-input-placeholder {
                        color: $ph;
                    }
                }
                span {
                    display: none;
                    position: absolute;
                    font-size: 14px;
                    line-height: 140%;
                    color: #b00020;
                }
                #require-name {
                    top: 76px;
                }
                #require-email {
                    top: 182px;
                }
                #wrong-email {
                    top: 182px;
                }
                .submit-container {
                    max-width: 172px;
                }
                input[type="submit"] {
                    @include filled-button;
                    font-family: "Roboto";
                    font-weight: 900;
                    font-size: 18px;
                    width: 100%;
                    border: none;
                    padding: 12px 0px;
                    margin: 0;
                    // &:active:before {
                    //     content: "";
                    //     position: absolute;
                    //     width: 80px;
                    //     height: 80px;
                    //     left: calc(50% - 80px / 2);
                    //     top: calc(50% - 80px / 2 + 0.5px);
                    //     background: rgba(255, 255, 255, 0.32);
                    //     border-radius: 50%;
                    // }
                }
            }
        }
    }
}

// Ukraine popup

.overlay_popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(13, 13, 13, 0.12);
    transition: all 0.8s ease 0s;
}

.popup {
    opacity: 0;
    visibility: hidden;
    position: relative;
    z-index: 1000;
    position: fixed;
    top: 47.2%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    border: solid 4px transparent;

    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    transition: all 0.8s ease 0s;

    .desc {
        width: 538px;
        height: 232px;
        background-color: #eee;
        padding: 24px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        h4 {
            @include gradient;
            font-weight: 900;
            font-size: 26px;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 23px;
        }
        p {
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            margin-bottom: 23px;
        }
        button {
            @include filled-button;
            border: none;
        }
        .close-x {
            position: absolute;
            width: 24px;
            height: 28px;
            top: 33px;
            right: 21px;
        }
    }
}
.support-popup {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(
            90deg,
            #005bbb,
            #195dba,
            #3763b8,
            #526db4,
            #6b78ae,
            #8284a7,
            #97909e,
            #aa9c94,
            #bca789,
            #cbb17c,
            #d9ba6d,
            #e4c25d,
            #eec94c,
            #f5ce3a,
            #fbd225,
            #fed40f,
            #ffd500
        );
}
.start-project-popup {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        $gradient-main;
    .desc {
        display: flex;
        justify-content: space-between;
        height: 250px;
        padding: 24px 60px;
        h4 {
            margin-bottom: 0;
        }
        &__text {
            p {
                margin-bottom: 0;
            }
            &__bold {
                font-weight: 700;
            }
        }
    }
}

// footer
footer {
    // max-width: 1440px;
    margin: 0 auto;
    width: auto;
    height: 434px;
    background-color: $black;
    margin-top: 160px;
    color: $text-color;
    display: flex;
    flex-direction: column;
    .footer-row1 {
        display: flex;
        justify-content: space-between;
    }
    .footer-container {
        padding: 50px 10px 0;
        max-width: 1200px;
        margin: 0 auto;
        .footer__column {
            flex-basis: 24%;
            &__logo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 14px;
                span {
                    margin-left: 8px;
                    font-family: "Open Sans";
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                }
            }
            &__list {
                &__socials {
                    display: flex;
                    justify-content: space-between;
                    gap: 27px;
                    &-logos {
                        display: flex;
                        align-items: stretch;
                        gap: 27px;
                        &__link {
                            display: flex;
                            align-items: center;
                            padding-bottom: 8px;
                            &:hover {
                                box-shadow: inset 0px -4px 0px 0px #fff;
                                transition: all 0.2s ease 0s;
                            }
                        }
                    }
                }
                &__link {
                    color: $text-color;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            h5 {
                font-size: 18px;
                line-height: 140%;
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            ul {
                font-weight: 500;
                font-size: 18px;
                line-height: 140%;
                li {
                    margin-bottom: 16px;
                }
            }
            &__center {
                display: flex;
                justify-content: space-evenly;
                margin-top: 8px;
                flex: 1 1 auto;
            }
            &__last {
                flex-basis: 16%;
                margin-top: 8px;
                a {
                    text-decoration: none;
                    font-size: 18px;
                    text-transform: uppercase;
                    padding: 10px 13px;
                    border-radius: 4px;
                    border: solid 4px $text-color;
                    color: $text-color;
                    background-color: transparent;
                }
            }
        }
    }
    .footer-author-info {
        margin-top: 15px;
        display: flex;
        width: auto;
        font-size: 14px;
        line-height: 140%;
        &__item {
            margin-right: 28px;
        }
        &__link {
            text-decoration: underline;
            color: $text-color;
        }
    }
}

// slider editor
// .page-technologies.block-slider__center-mode {
//     margin-right: -108px;
// }
// .slick-list {
//     padding-right: 10%;
// }
// .slick-slide {
//     margin-left: 1px;
//     margin-right: 26px;
// }
// .page-technologies .block-slider__center-mode .slick-arrow.slick-prev {
//     right: 289px;
// }
// .page-technologies .block-slider__center-mode .slick-arrow.slick-next {
//     right: 95px;
// }
// .slick-dots {
//     right: 220px;
// }
// .slick-track {
//     display: flex;
//     width: 40px;
// }

.absolute {
    width: calc(100vw - (100vw - 1177px) / 2);
}
.page-technologies .block-slider__center-mode .slick-arrow.slick-prev {
    right: calc((100vw - 1200px) / 2 + 186px);
}
.page-technologies .block-slider__center-mode .slick-dots {
    right: calc((100vw - 1200px) / 2 + 115px);
}
.page-technologies .block-slider__center-mode .slick-arrow.slick-next {
    right: calc((100vw - 1200px) / 2 - 9px);
}
@import "style-tab";
@import "style-mobile";
